@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

.header{
    width: 1438px;
    height: 769px;
    background: url("../img/bg.png") center center;
    background-size: cover;
    
}

.header__logo{
    margin: auto;
    display: block;
    padding: 41px;
    margin-bottom: 264px;
}

.header__title{
    color: #FFF;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;
}

.header__text{
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 221px;
}

.header__bottom{
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;
}

.menu{
    height: 65px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    display: flex;
}

.menu__logo{
    width: 79.53px;
    height: 18px;
    padding-left: 251px;
    padding-top: 24px;
}

.menu__list{
    display: flex;
    padding-top: 25px;
}

.menu__list__item{
    color: #48555B;
    text-align: center;
    font-family: "OpenSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
}

.menu__list__item a:hover {
    color: #00A4E5;
    font-weight: 700;
}

.menu__list__item:first-child{
    margin-left: 450.97px;
}

.menu__list__item:nth-child(2){
    margin-left: 48px;
}

.menu__list__item:nth-child(3){
    margin-left: 42.5px;
}

.menu__list__item:nth-child(4){
    margin-left: 39px;
}

.menu__list__item:nth-child(5){
    margin-left: 30px;
}

.about{
    margin-top: 57px;
    height: 344px;
    margin-left: 249px;
}

.about__wrapper-title{
    width: 941px;
}

.about__title{
    width: 941px;
    color: #48555B;
    text-align: center;
    font-family: OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
}

.about__line{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.about__content{
    display: flex;
}

.about__first-text{
    color: #48555B;
    font-family: "OpenSans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.188px;
    margin-top: 72px;
}

.about__second-text{
    color: #48555B;
    font-family: "OpenSans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.188px;
    width: 380px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding-top: 0px;
}

.blue-text{
    color: #16ACE8;
    letter-spacing: 0.17px;
}

.about__text{
    margin-top: 30px;
    display: flex;
    width: 405.076px;
    height: 115px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #48555B;
    font-family: "OpenSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; 
    letter-spacing: 0.188px;
}

.about__images{
    width: 714px;
    height: 300px;
    margin-top: 97px;
    margin-left: 75px;
    display: flex;
}

.we-plan{
    display: flex;
}

.we-manage{
    display: flex;
}

.we-build{
    display: flex;
}

.we-plan-text{
    position: absolute;
    margin-top: 15px;
    margin-left: 14px;
    color: #FFF;
    font-family: "OpenSansBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px; 
    letter-spacing: 0.188px;
}

.about__img{
    width: 140px;
    height: 224px;
}

.about__img:first-child{
    margin-right: 20px;
}

.about__img:nth-child(2){
    margin-right: 19px;
}

.capabilities{
    width: 940px;
    height: 446px;
    flex-shrink: 0;
    margin-top: 133px;
    margin-left: 250px;
}

.cap__top{
    height: 40px;
    display: flex;
}

.cap__title-text{
    color: #48555B;
    font-family: "OpenSans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
}

.cap__top-text{
    display: flex;
    width: 405.404px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #48555B;
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-left: 155px;
}

.cap__top-button{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    background: #00A4E5;
    border: none;
    padding: 0;
    margin-left: 37.6px;
}

.cap__button-text{
    color: #FFF;
    font-family: "OpenSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards{
    display: flex;
    height: 330px;
    margin-top: 76px;
}

.card{
    width: 295px;
    height: 330px;
    flex-shrink: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
    margin-right: 27px;
}

.card__img{
    margin-top: 38px;
    margin-left: 23px;
}

.card__title{
    color: #48555B;
    font-family: "OpenSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.427px;
    margin-top: 25px;
    margin-left: 23px;
}

.card__text{
    color: #48555B;
    font-family: "OpenSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
    margin-top: 13px;
    margin-left: 23px;
}

.bottom{
    height: 498.24px;
    margin-top: 115px;
    background: url("../img/bottom-bg.png");
    justify-content: center;
}

.bottom__title{
    color: #48555B;
    text-align: center;
    font-family: "OpenSans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: 0.15px;
    padding-top: 120px;
}

.bottom__button-container {
    display: flex;
    justify-content: center;
}

.bottom__button{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    background: #00A4E5;
    border: none;
    margin-top: 35px;
}

.signup{
    height: 100px;
    background: #171819;
    margin-top: -1px;
    display: flex;
    align-items: center;
}

.signup__title{
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
    margin-left: 378px;
}

.form{
    align-items: first baseline;
}

.form__input{
    border: 1px solid #979797;
    margin-left: 85px;
    width: 250px;
    height: 40px;
    border: 1px solid #979797;
    background: #FFF;
    padding: 0;
    border: none;
    color: #48555B;
    font-family: "OpenSans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

.form__button{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.info{
    height: 240px;
    background: #141A20;
    display: flex;
}

.info__block1{
    margin-top: 42px;
    margin-left: 249px;
    width: 250px;
}

.block1__title{
    color: #FFF;
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.846px;
}

.block1__logo{
    margin-top: 19px;
}

.block1__text{
    color: #FFF;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; 
    letter-spacing: 0.85px;
    margin-top: 15px;
}

.info__block2{
    margin-left: 71px;
    margin-top: 42px;
}

.block2__title{
    color: #FFF;

font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
}

.links{
    display: flex;
}

.info__list{
    color: #FFF;

font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 227.273% */
letter-spacing: 0.846px;
margin-top: 10px;
}

.info__list:first-child{
    margin-right: 34px;
}

.info__list:nth-child(2){
    margin-right: 38px;
}

.block3{
    margin-left: 58px;
    margin-top: 42px;
}

.block3__title{
    color: #FFF;

font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
}

.block3__text{
    color: #FFF;

font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 145.455% */
letter-spacing: 0.846px;
margin-top: 15px;
}

.footer{
    height: 60px;
    background: #171819;
    margin-bottom: 0; 
}

.footer__text{
    color: #FFF;
    text-align: center;
    line-height: 60px; /* Встановіть таку ж висоту, як і у .footer */
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.846px;
}